/* index.php */

body {
    background: url(/image/Combat.gif);
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0, 5px;
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
    padding: 20px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 40px;
}

.menu a {
    text-decoration: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: brown;
    padding: 0 20px;
    transition: 0, 5s;
    
}

section {
    margin-top: 200px;
    background-color: transparent;
    padding: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
   
    margin-bottom: 10px;
}

.yo{
    align-items: center;
    padding: 100px;
}

.style_btn {
    padding: 5px 25px;
    color: white;
    background-color: orange;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.error {
    color: red;
    font-size: 30px;
}

.pseudo form {
    display: flex;
    flex-direction: column;
}

.pseudo form input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgb(250, 247, 247);
    margin: 10px 0;
    width: 250px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;

}
h1{
    font-size: 30px;
    color: white;
    justify-content: center;
    margin-top: 200px;

}

.nbperso{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}
.titi{
    color: white;
}

form{
    text-align: center;
    margin-top: 50px;
}

.select{
    width: 250px;
    border-radius: 10px;
    height: 45px;
    
    
}

/* Fin index.php */

/* PersonnagesManager.php */



/* Fin PersonnagesManager.php */